* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #BED1DB;
}

#messages {
  list-style-type: none;
  margin-bottom: 100px;
}

#messages li {
  display: flex;
  flex-direction: column;
}

#messages li div.receive-container {
  margin-top: 4px;
  margin-left: 8px;
}

#messages li div.receive-nickname {
  margin-left: 4px;
  font-size: 12px;
}

#messages li div.receive-message,
#messages li div.self-message {
  display: inline-block;
  max-width: 95%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 8px;
}

#messages li div.receive-message {
  margin-top: 2px;
  background: #FFFFFF;
}

#messages li div.self-message {
  margin-left: auto;
  margin-right: 8px;
  background: #FEEB34;
}

#messages li div.system-message {
  width: 100%;
  margin: 8px 0;
  padding: 8px 0;
  text-align: center;
  background: #AFC1CA;
}

form {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #E9E9E9;
  background: #FFFFFF;
}

form textarea {
  flex: auto;
  height: 70px;
  margin-right: 16px;
  border: none;
  resize: none;
}

form textarea:focus {
  outline: none !important;
  border: none;
  box-shadow: none;
}

form button {
  width: 80px;
  height: 70px;
  color: #523738;
  background: #FEEB34;
  border: none;
  border-radius: 12px;
}

form button:disabled {
  color: #D7D7D7;
  background: #F9F9F9;
}